// font
$font-family: "Noto Sans KR", sans-serif;
$font-base: 16px;
$letter-spacing: -0.4px;

// 색상
$color-primary: #2698e8; // 메인 버튼 블루
$color-secondary: #299282;
$color-bg: #8de4ff; // 바다
$color-sky: #c5efff;
$color-text: #000;
$color-subtext: #222;
$color-white: #fff;
$color-red: #fc4c4e;

// 레이아웃
$max-width: 1194px;
